<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<body>
<!--<a href="covid">코로나 확진자 발생율</a>-->
<!--<a href="covid_recovered">코로나 회복자 발생율</a>-->
<!--<a href="covid_death">코로나 사망 발생율</a>-->
<!--<a href="world-population">Historic World Population by Region</a>-->
<!--<a href="titanic">Titanic Survivors by Ticket Class</a>-->

<ul class="list-group list-group-flush">
  <li class="list-group-item"><a href="covid">코로나 확진자 발생율</a></li>
  <li class="list-group-item"><a href="covid_recovered">코로나 회복자 발생율</a></li>
  <li class="list-group-item"><a href="covid_death">코로나 사망자 발생율</a></li>
  <li class="list-group-item"><a href="titanic">Titanic Survivors by Ticket Class</a></li>
  <li class="list-group-item"><a href="world-population">Historic World Population by Region</a></li>
</ul>
</body>
</html>